<div class="container">
    <mat-toolbar>
        <span *ngIf="userToSave">Edit User</span>
        <span *ngIf="!userToSave">Create User</span>
    </mat-toolbar>

    <mat-card>
        <form [formGroup]="form" (ngSubmit)="addUser()">
            <mat-grid-list cols="4" rowHeight="70px">
                
                <mat-grid-tile [colspan]="1" [rowspan]="1" > 
                    <mat-form-field class="width" >
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="5"> 
                   <img src="./assets/img/user.png" width="150">
                </mat-grid-tile>

                
                <mat-grid-tile [colspan]="1" [rowspan]="1" > 
                    <mat-form-field class="width" >
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" > 
                    <mat-form-field class="width" >
                        <mat-label>Email</mat-label>
                        <input matInput (focusout)="getUserByEmail()" formControlName="email">
                        <mat-error *ngIf="emailAlreadyExists">Email already exists in the database</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1"> 
                    <mat-form-field class="width" >
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phoneNumber">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" > 
                    <mat-form-field class="width">
                    <mat-label>Category</mat-label>
                        <mat-select [compareWith]="compareObjects" formControlName="category"x>
                            <mat-option *ngFor="let category of categories" [value]="category">
                                {{category.category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1"> 
                    <button type="submit" [disabled]="form.invalid"  mat-raised-button color="primary" style="margin-right:10px">Aceptar</button>
                    <button mat-raised-button routerLink="/dashboard/users">Volver</button>
                </mat-grid-tile>    
            </mat-grid-list>
            <br><br>
        </form>
    </mat-card>
</div>
